header,main,footer{
    width: 1460px;
    margin: auto;
}  
header{
    background-color: #171717;

}
.header_content{
    display: flex;
    flex-wrap: nowrap;
    height: 205px;
    flex-direction:row ;

}
.logo_img{
    width: 357px;
    height: 79px;
    flex-shrink: 0;
    margin-top: 34px;
}
.call_us_button{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    margin-top: 34px;
    margin-left: 885px;
    justify-content: center;
    background-color: #171717;
}
.phone_img{
    margin-left: 25px;
    margin-top: auto;
    margin-bottom:auto ;
    
}
.call_us_text{
    color: #E4B564;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 11px;
    margin-left: 8px;
}
main{
    background-color: #171717;
    padding-bottom: 238px;
}
.what_we_can_do_text{
    max-width: 1100px;
}
.services{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 27px;
    margin-bottom: 161px;
}
.work_with_ground{
    background: #634F2C;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    height: 468px;
}
.underground_pipes{
    background: #B4A385;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 5; 
    
}
.making_channels{
    background: #E4B564;
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 2;
    grid-column-end: 7;
    
}
.supports{
    background:#635A4A;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 4;
    height: 468px;

}
.wells{
    background: #B08C4D;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 7;
}
.services_text{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-top: 220px;

}
.mashine_park{
    display: grid; 
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 28px 96px 129px 277px 5px;
    margin-top: 64px;
    grid-column-gap: 25px;
    grid-row-gap: 26px;
    padding-bottom: 191px;
}
.mudsucking_car{
    background-color: #0E0E0E; 
    grid-row: 1/2;
}
.washing_car{
    background-color: #242424; 
    grid-row: 1/4;
}
.excavator_loader{
    background-color: #1F1F1F; 
    grid-row: 1/3;
}
.excavator{
 
    background-color: #E4B564; 
    grid-row: 4/6;
}
.loader{
    grid-row: 2/7;
    background: #1F1F1F;
}
.kamaz{
    background-color: #0E0E0E; 
    grid-row: 3/5;
}
.roller{
    background-color: #0A0909; 
    grid-row: 5/7;
}
.park_text {
    margin-top: 44px;
    margin-left: 48px;
}
section{
    background: #0E0E0E;
}
.our_clients{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 172px;
    margin-bottom: 72px;
}
.all_progects_button{
    color: #E4B564;
    border: 1px solid #E4B564;
    background: #0E0E0E;
    width: 180px;
    height: 50px;
    margin-left: 700px;
}
.partners{
    display: grid;
    grid-template-columns: repeat(3, 486px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.partner1{
    background: #634F2C;
    height: 391px;
    display: flex;
}
.partner1_img{
    width: 185px;
    height: 49px;
    margin: auto;
}
.partner2{
    background: rgba(232, 210, 171, 0.76);
    height: 391px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 61px;
}
.partner_logo{
    width: 62px;
    height: 55px;

}
.partner2_text{
    max-width: 326px;
}
.mouse{
    width: 25px;
    height: 23px;
}
.partner3{
    background: #E4B564;
    height: 391px;
    display:flex;
}
.partner3_img{
    width: 119px;
    height: 53px;
    margin-top: 12px;
}
.partner3_1_img{
    width: 119px;
    height: 53px;
    margin: auto;
}
.partner4{
    background:#635A4A ;
    height: 391px;
    display: flex;
}
.partner5{
    background: #B08C4D;
    height: 391px;
    display: flex;
}
.partner_5_img{
    width: 119px;
    height: 53px;
    margin: auto;
}
.partner6{
    background: #634F2C;
    height: 391px;
    display: flex;
    align-content: center;
}
