.text_style_20_700{
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text_style_20_500{
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text_style_20_500_black{
    color: #000;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text_style_22_500{
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.text_style_20_400{
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text_style_50{
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}
.text_style_20{
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}